---
title: API
order: 2
description: API reference for the Mat Expressive __TITLE__ — data attributes for the CSS class approach and the __SELECTOR_ATTR__ directive.
---

## Data Attributes with .__HOST_CLASS__ class

You can use below `data-*` attributes with `.__HOST_CLASS__` class to style the underlying Angular Material component.

### data-size

The size of the __TITLE_LOWER__.

#### Default Value

`s`

#### Possible Values

`xs`, `s`, `m`, `l`, `xl`

### data-shape

The shape of the __TITLE_LOWER__.

#### Default Value

`round`

#### Possible Values

`round`, `square`

### data-toggle

The toggle state of the __TITLE_LOWER__.

#### Default Value

`unselected`

#### Possible Values

`selected`, `unselected`

## __SELECTOR_ATTR__ Directive

You can view the API for `__SELECTOR_ATTR__` directive [here](/docs/api/mat-exp/directives/__CLASS__).
