@use '@angular/material' as mat;
@use '../../projects/ngm-dev/mat-exp/src/lib/styles' as mat-exp;
@use '../styles_theme-colors.scss' as mat-theme-colors;

html {
  color-scheme: light;
  height: 100%;

  @include mat.theme(
    (
      color: (
        // primary: mat.$azure-palette,
        // tertiary: mat.$blue-palette,
        primary: mat-theme-colors.$primary-palette,
        tertiary: mat-theme-colors.$tertiary-palette,
      ),
      typography: (
        plain-family: '"Hanken Grotesk", sans-serif',
        brand-family: '"Plus Jakarta Sans", sans-serif',
      ),
      density: 0,
    )
  );

  @include mat.system-classes();
  @include mat-exp.mat-exp-all-styles();

  &.dark {
    color-scheme: dark;
  }
}

body {
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

// CDK Dialog backdrop for the search modal
.search-modal-backdrop {
  background: rgb(0 0 0 / 40%);
  backdrop-filter: blur(6px);
}
