<div class="preview-container">
  <mat-exp-button-group
    [size]="size()"
    [shape]="shape()"
    [variant]="variant()"
    [appearance]="appearance()"
    [selection]="selection()"
    [disabled]="disabled()"
  >
    <button matIconButton matExpIconButton>
      <mat-icon>delete</mat-icon>
    </button>
    <button matButton matExpButton>Label</button>
    <button matButton matExpButton>
      <mat-icon>edit</mat-icon>
      Label
    </button>
    <button matIconButton matExpIconButton>
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-exp-button-group>
  <mat-exp-button-group
    [size]="size()"
    [shape]="shape()"
    [variant]="variant()"
    [appearance]="appearance()"
    [selection]="selection()"
    [disabled]="disabled()"
  >
    <button matButton matExpButton>Label</button>
    <button matButton matExpButton>Label</button>
    <button matButton matExpButton>
      <mat-icon>edit</mat-icon>
      Label
    </button>
    <button matButton matExpButton>
      <mat-icon>edit</mat-icon>
      Label
    </button>
  </mat-exp-button-group>
  <div>
    <h3>Usage with reactive form</h3>
    <mat-exp-button-group
      [size]="size()"
      [shape]="shape()"
      [variant]="variant()"
      [appearance]="appearance()"
      [selection]="selection()"
      [disabled]="disabled()"
      [formControl]="control"
    >
      <button matIconButton matExpIconButton value="delete">
        <mat-icon>delete</mat-icon>
      </button>
      <button matIconButton matExpIconButton value="edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button matIconButton matExpIconButton value="star">
        <mat-icon>star</mat-icon>
      </button>
      <button matIconButton matExpIconButton value="favorite">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-exp-button-group>

    <pre>
    <code>
      {{ control.value | json }}
    </code>
  </pre>
  </div>
</div>
