<div class="preview-container">
  <button
    matFab
    [matMenuTriggerFor]="menu"
    matExpFabMenuTrigger
    #menuTrigger="matMenuTrigger"
    [color]="color()"
  >
    <mat-icon>
      @if (menuTrigger.menuOpen) {
        close
      } @else {
        more_vert
      }
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu" matExpFabMenu [color]="color()">
    <button mat-menu-item>
      <mat-icon>description</mat-icon>
      Document
    </button>
    <button mat-menu-item>
      <mat-icon>message</mat-icon>
      Message
    </button>
    <button mat-menu-item>
      <mat-icon>folder</mat-icon>
      Folder
    </button>
  </mat-menu>
</div>
