<div class="preview-container">
  <mat-exp-split-button [size]="size()" [appearance]="appearance()">
    <button matButton matExpButton>Action</button>
    <button matIconButton matExpIconButton [matMenuTriggerFor]="menu" aria-label="Toggle menu">
      <mat-icon>expand_more</mat-icon>
    </button>
  </mat-exp-split-button>
  <mat-exp-split-button [size]="size()" [appearance]="appearance()">
    <button matButton matExpButton>
      <mat-icon>edit</mat-icon>
    </button>
    <button matIconButton matExpIconButton [matMenuTriggerFor]="menu" aria-label="Toggle menu">
      <mat-icon>expand_more</mat-icon>
    </button>
  </mat-exp-split-button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
    <button mat-menu-item>Option 3</button>
  </mat-menu>
</div>
