import { ChangeDetectionStrategy, Component, input } from '@angular/core';
import { __CLASS__ } from '@ngm-dev/mat-exp';

/** @playgroundFor __CLASS__ */
@Component({
  selector: 'app-__KEBAB__-preview',
  standalone: true,
  imports: [__CLASS__],
  changeDetection: ChangeDetectionStrategy.OnPush,
  templateUrl: './__KEBAB__-preview.component.html',
  styleUrl: './__KEBAB__-preview.component.scss',
})
export class __PASCAL__PreviewComponent {
  readonly ariaLabel = input<string>('__TITLE__');
}
