import { ChangeDetectionStrategy, Component, input } from '@angular/core';
import {
  __CLASS__,
  type MatExpButtonShape,
  type MatExpButtonSize,
  type MatExpButtonToggle,
} from '@ngm-dev/mat-exp';

/** @playgroundFor __CLASS__ */
@Component({
  selector: 'app-__KEBAB__-preview',
  standalone: true,
  imports: [__CLASS__],
  changeDetection: ChangeDetectionStrategy.OnPush,
  templateUrl: './__KEBAB__-preview.component.html',
  styleUrl: './__KEBAB__-preview.component.scss',
})
export class __PASCAL__PreviewComponent {
  readonly size = input<MatExpButtonSize>('s');
  readonly shape = input<MatExpButtonShape>('round');
  readonly toggle = input<MatExpButtonToggle | undefined>(undefined);
  readonly disabled = input<boolean>(false);
}
