@use '@angular/material' as mat;
@use '../projects/ngm-dev/mat-expressive/src/lib/styles' as mat-expressive;

html {
  color-scheme: light;
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.system-classes();
  @include mat-expressive.mat-expressive-all-styles();

  &.dark {
    color-scheme: dark;

    @include mat.theme(
      (
        color: (
          primary: mat.$azure-palette,
          tertiary: mat.$blue-palette,
          theme-type: dark,
        ),
      )
    );
  }
}

body {
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}
