@use '@angular/material' as mat;
@use '../projects/ngm-dev/mat-expressive/src/lib/styles' as mat-expressive;
@import '@ng-doc/app/styles/themes/dark.css';

@mixin dark-theme() {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: dark,
      ),
    )
  );
}

html {
  color-scheme: light;
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  @include mat.system-classes();
  @include mat-expressive.mat-expressive-all-styles();
  &[data-theme='auto'] {
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }
  &[data-theme='dark'] {
    color-scheme: dark;
  }
}

body {
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  --ng-doc-font-family: var(--mat-sys-body-medium-font);

  margin: 0;
  height: 100%;
}

.ng-doc-demo-controls {
  display: none;
}
